
{{>navbar}}
{{#if list}}
    <h1 id="titleText" class="lead">{{message}}</h1>
    <form method="get" action="/google/calendar">
        <fieldset id="milestoneTable">
            {{#each list}}
                <label id="label" class="list-group">
                    <input type="radio" name="milestone" value="{{this}}">
                    <div class="list-group-item flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h4 class="mb-1">{{title}}</h4>
                            <small>
                                {{#if due}}
                                    Due to {{due}}
                                {{else}}
                                    No due date
                                {{/if}}
                            </small>
                        </div>
                        <p class="mb-1">{{description}}</p>
                    </div>
                </label>
            {{/each}}
        </fieldset>
        <div class="form-group row" id="milestoneFormButton">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Schedule an event on Google Calendar</button>
            </div>
        </div>
    </form>
{{else}}
    <h1 id="titleText" class="lead">There are no milestones in this repository!</h1>
{{/if}}